@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,400&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
header, footer, main, nav {
    color: #111;
}
header, main, footer, nav {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0.5em 1em;
    max-width: 640px;
}
header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}
table, tr, td, thead, tbody {
    color: #111;
}
thead {
}
td, th {
    padding: 0.5em;
    vertical-align: top;
    text-align: left;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gainsboro;
}
nav {
    margin: 0 auto;
    max-width: 640px;
    padding: 0;
}
img {
    margin: 0 auto;
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-content: stretch;
    margin: 0;
    padding: 0;
}
nav ul li a {
    color: whitesmoke;
    text-decoration: none;
}
nav ul li {
    transition: all 190ms;
    position: relative;
    padding: 0.25em;
    text-align: center;
    margin: 0;
    flex-grow: 1;
}
[role=tab]:hover {
    background: #6495ed;
}

.activeTab {
}
.activeTab::after {
    position: absolute;
    width: 100%;
    content: "";
    left: 0;
    bottom: 0;
    border-bottom: 2px solid whitesmoke;
}
.collapsed {
    display: none;
}
#header-logo, h1 {
    margin: auto 0.5em;
}
h1 {text-transform: uppercase;}

.sponsored-logos {
    display: flex;
    align-items: center;
}
.prize-images {
    display: flex;
}
.prize-images img {
    max-width: 150px;
    max-height: 150px;
}
