@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,400&display=swap');

* {
    box-sizing: border-box;
}

html {
    --background: hsl(30, 50%, 2%);
    --text: #f0f0ff;
    --link: #8cf;
    --ig-gradient: radial-gradient(circle at 0 100%, #ffdc80, #fcaf45, #f77737, #f56040, #fd1d1d, #e1306c, #c13584, #833ab4, #5851db, #405de6);
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: var(--background);
    display: flex;
    flex-direction: column;
}

a {
    color: var(--link)
}
header, footer, main, nav {
    color: var(--text);
}
header, main, footer, nav {
    font: 18px/1.5 'Montserrat', sans-serif;
    margin: 0 auto;
    /* padding: 0.5em 1em; */
    max-width: 640px;
}
footer {
    border-top: 1px solid;
    width: 100%;
}
header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}
main {
    flex-grow: 2;
}
table, tr, td, thead, tbody {
    color: var(--text);
}
thead {
}
td, th {
    padding: 0.5em;
    vertical-align: top;
    text-align: left;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gainsboro;
}
nav {
    margin: 0 auto;
    max-width: 640px;
    width: 100%;
    padding: 0;
}
img {
    margin: 0 auto;
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-content: stretch;
    margin: 0;
    padding: 0;
}
nav ul li a {
    color: whitesmoke;
    text-decoration: none;
}
nav ul li {
    transition: all 190ms;
    position: relative;
    padding: 0.25em;
    text-align: center;
    margin: 0;
    flex-grow: 1;
}
[role=tab]:hover {
    background: var(--text);
    color: var(--background);
}

.activeTab {
}
.activeTab::after {
    position: absolute;
    width: 100%;
    content: "";
    left: 0;
    bottom: 0;
    border-bottom: 2px solid whitesmoke;
}
.collapsed {
    display: none;
}
#header-logo, h1 {
    /* margin: auto 0.5em; */
}
h1 {
    text-transform: uppercase;
}

.sponsored-logos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.sponsored-logos > a {
    margin: 0.5em;
}
.prize-images {
    display: flex;
}
.prize-images img {
    max-width: 150px;
    max-height: 150px;
}

.headshot {
    max-width: 200px;
    max-height: 200px;
    float: left;
    margin-right: 1em;
    vertical-align: text-top;
    border: 1px solid;
    
}

.pussy-pedestal, .pride-in-place, .sponsor {
    max-height:  45vh;
    max-width: 200px;
    margin: 0 auto;
}
.ig-hashtag {
  background: var(--ig-gradient);
  background-clip: text;
  color: transparent;
  text-decoration: underline;
  position: relative;
  display: inline-block;
}
.ig-hashtag:after {
    content: "";
    position: absolute;
    display: inline-block;
    background: var(--ig-gradient);
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
}
/* clearfix */
.level2:after {
    content: "";
    display: table;
    clear: both

}
#title-block-header {
}
h1.title {
}
